<center>
	<p style="text-align: center;"><a href="#betmiga-modal" data-toggle="modal" data-hover="modal"><img style="width: 100%; padding: 0px; border: 1px solid #dddddd;" src="/files/editor/source/_inzerce/betmiga/betmiga_V02.gif" alt="Betmiga" border="0" /></a></p>
	<p style="text-align: center; font-size: 13px; line-height: 18px; padding: 0 10px 10px 10px;">Výdej přípravku je&nbsp;vázán na&nbsp;lékařský předpis.<br />Přípravek je&nbsp;hrazen z&nbsp;prostředků veřejného zdravotního pojištění.<br />Zkrácenou informaci o&nbsp;přípravku si&nbsp;zobrazíte kliknutím&nbsp;<a href="#betmiga-modal" data-toggle="modal" data-hover="modal">ZDE</a>.</p>
	<p>&nbsp;</p>
	<p style="text-align: center;"><a href="#urizia-modal" data-toggle="modal" data-hover="modal"><img style="width: 100%; padding: 0px; border: 1px solid #dddddd;" src="/files/editor/source/_inzerce/urizia/Urizia_banner_2019.jpg" alt="Urizia" border="0" /></a></p>
	<p style="text-align: center; font-size: 13px; line-height: 18px; padding: 0 10px 10px 10px;">Výdej přípravku je&nbsp;vázán na&nbsp;lékařský předpis.<br />Přípravek je&nbsp;hrazen z&nbsp;prostředků veřejného zdravotního pojištění.<br />Zkrácenou informaci o&nbsp;přípravku si&nbsp;zobrazíte kliknutím&nbsp;<a href="#urizia-modal" data-toggle="modal" data-hover="modal">ZDE</a>.</p>
</center>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div id="betmiga-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: right;"><button class="btn btn-default" style="margin: 15px 0 15px 0;" type="button" data-dismiss="modal">Zavřít</button>
				<div class="modal-body">
					<p><a href="/files/editor/source/_inzerce/betmiga/betmiga_042019.pdf" target="_blank"><img style="padding: 0; margin: 0; border: 0; width: 100%;" src="/files/editor/source/_inzerce/betmiga/betmiga-zip.png" alt="" /></a></p>
				</div>
				<div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Zavřít</button></div>
			</div>
		</div>
	</div>
</div>
<div id="urizia-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: right;"><button class="btn btn-default" style="margin: 15px 0 15px 0;" type="button" data-dismiss="modal">Zavřít</button>
				<div class="modal-body">
					<p><img style="padding: 0; margin: 0; border: 0; width: 100%;" src="/files/editor/source/_inzerce/urizia/Urizia_ZIP_2019_02_01.png" alt="" /></p>
				</div>
				<div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Zavřít</button></div>
			</div>
		</div>
	</div>
</div>
