<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Kongresonline.cz</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
        .navbar-collapse {
            justify-content: flex-end;
        }
    </style>
    <body class="chi-claim--kavaz">
        <header>
            <div class="navbar navbar-light chi-bg-light chi-navbar-height">
                <div class="chi-logo-sentens">
                    Provozováno portálem <a class="navbar-brand chi-logo-text-words" href="index.html" title="Kongresonline.cz"><u>Kongresonline.cz</u></a>
                </div>
                <form class="form-inline">
                    <div class="chi-search">
                        <input class="form-control mr-sm-2 w-100" id="chi-search" type="search" placeholder="Vyhledat na celém portále a článcích" aria-label="Search" />
                    </div>
                </form>
            </div>
        </header>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light chi-pb-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item chi-nav-item active">
                            <a class="nav-link chi-nav-link chi-active white-color" href="index.html">KOMENTÁŘE</a>
                        </li>
                        <li class="nav-item chi-nav-item">
                            <a class="nav-link chi-nav-link white-color" href="#">VIDEOKOMENTÁŘE</a>
                        </li>
                        <li class="nav-item chi-nav-item">
                            <a class="nav-link chi-nav-link white-color" href="#">AKREDITOVANÉ TESTY</a>
                        </li>
                        <li class="nav-item chi-nav-item">
                            <a class="nav-link chi-nav-link white-color" href="#">TÉMATA</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="chi-category-logo-center chi-category-logo-center--w500">
                <img src="img/dianews-logo-white 2.png" alt="" />
            </div>
            <div class="chi-info-text white-color">
                <p>
                    Odborný zpravodaj informující o aktuálním dění <br />
                    v angiologii a kardiologii
                </p>
            </div>
        </div>
        <main class="m-0">
            <div class="container chi-bg-white">
                <div class="row row--white">
                    <div class="col-md-12 chi-video-section mt-30px">
                        <div class="others-articles">
                            <div class="d-flex h-20">
                                <div class="chi-tag text-uppercase mr-auto p-2">
                                    <a href="#" class="chi-tag_link">Kongresy</a>
                                </div>
                            </div>
                            <hr class="divider mt-0 mb-0" />
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-4 col--3n2">
                                        <div class="congress-box congress-box--purple">
                                        <h1 class="chi-title-white chi-title-white--fz30 chi-title-white--mb-20">České kardiologické dny</h1>
                                        <p class="chi-kavaz-text chi-kavaz-text--w-292">
                                            Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu.
                                        </p>
                                        <div class="chi-btn-kavaz">
                                            <a href="#" class="chi-btn-kavaz_link kavaz_link--white">Zobrazit všechny příspěvky</a>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 col--3n2">
                                        <div class="congress-box congress-box--orange">
                                        <h1 class="chi-title-white chi-title-white--fz30 chi-title-white--mb-20">Kongres České internistické společnosti ČLS JEP</h1>
                                        <p class="chi-kavaz-text chi-kavaz-text--w-292">
                                            Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu.
                                        </p>
                                        <div class="chi-btn-kavaz">
                                            <a href="#" class="chi-btn-kavaz_link kavaz_link--white">Zobrazit všechny příspěvky</a>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 col--3n2">
                                        <div class="congress-box congress-box--gray">
                                        <h1 class="chi-title-white chi-title-white--fz30 chi-title-white--mb-20">České kardiologické dny</h1>
                                        <p class="chi-kavaz-text chi-kavaz-text--w-292">
                                            Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu.
                                        </p>
                                        <div class="chi-btn-kavaz">
                                            <a href="#" class="chi-btn-kavaz_link kavaz_link--white">Zobrazit všechny příspěvky</a>
                                        </div>
                                        </div>
                                    </div>
                                       <div class="col-sm-12 col-md-6 col-lg-4 col--3n2">
                                        <div class="congress-box congress-box--dark-blue">
                                        <h1 class="chi-title-white chi-title-white--fz30 chi-title-white--mb-20">České kardiologické dny</h1>
                                        <p class="chi-kavaz-text chi-kavaz-text--w-292">
                                            Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu.
                                        </p>
                                        <div class="chi-btn-kavaz">
                                            <a href="#" class="chi-btn-kavaz_link kavaz_link--white">Zobrazit všechny příspěvky</a>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 col--3n2">
                                        <div class="congress-box congress-box--blue">
                                        <h1 class="chi-title-white chi-title-white--fz30 chi-title-white--mb-20">Kongres České internistické společnosti ČLS JEP</h1>
                                        <p class="chi-kavaz-text chi-kavaz-text--w-292">
                                            Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu.
                                        </p>
                                        <div class="chi-btn-kavaz">
                                            <a href="#" class="chi-btn-kavaz_link kavaz_link--white">Zobrazit všechny příspěvky</a>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 col--3n2">
                                        <div class="congress-box congress-box--green">
                                        <h1 class="chi-title-white chi-title-white--fz30 chi-title-white--mb-20">České kardiologické dny</h1>
                                        <p class="chi-kavaz-text chi-kavaz-text--w-292">
                                            Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu. Zde bude uveden krátký popisek kongresu.
                                        </p>
                                        <div class="chi-btn-kavaz">
                                            <a href="#" class="chi-btn-kavaz_link kavaz_link--white">Zobrazit všechny příspěvky</a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="chi-bg-white">
                    <div class="d-flex h-20 mt-4">
                        <div class="chi-tag text-uppercase mr-auto p-2">
                            <a href="#" class="chi-tag_link">REKLAMNÍ SDĚLENÍ</a>
                        </div>
                    </div>
                    <hr class="divider mt-0 " />
                    <div class="chi-advertise">
                        <img src="img/image 1.png" alt="" />
                    </div>
                </div>
            </div>
        </main>
        <footer >
            <div class="container chi-category-bg">
                <div class="container chi-hr"></div>
                <div class="chi-footer-webpage-info">
                    <p>© 2019 CZECH HEALTH INTERACTIVE</p>
                    <p><a href="#">Podmínky užití</a> | <a href="#">Sponzoři</a></p>
                </div>
            </div>
        </footer>
        <!-- JQuery Library -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <!-- Bootstrap Propper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
