.chi-search
{
	height: 38px;
	width: 400px;
}

.chi-logo
{
    background: url("img/chi-logo.svg") left top no-repeat;
}

.chi-navbar-height
{
	min-height: 60px!important;
}

.chi-logo__txt-indent
{
	text-indent: -9999999px;
	margin: 0;
	display: block;
	margin-top: 7px;
	height: 12px;
	width: 240px;
}

.chi-logo__small-text
{
	color: #FFFFFF;
	opacity: 0.63;
	font-size: 12px;
	line-height: 14px;
	font-family: 'Roboto', sans-serif;
}


#chi-search {
    background-image: url("img/searchicon.svg");

    background-position: 10px 7px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 15px;
    padding: 7px 10px 7px 42px;
    /*border: 1px solid #ddd;*/
    margin-bottom: 12px;

   /* background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F5F5F5;*/
	box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 6px;
}

.chi-navbar-nav
{
	background: #FFFFFF;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07);
}
.chi-active
{
	border-bottom: 2px solid #E30613;
	margin-bottom: 8px;
}
.chi-nav-item {
    font-size: 15px;
    line-height: 19px;

}

.chi-nav-link:hover:not(.chi-active),
.chi-nav-link:focus:not(.chi-active),
.chi-nav-link:target:not(.chi-active)
{
	border-bottom: 2px solid #E30613;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	margin-bottom: 8px;
}
.chi-nav-link
{
   color: #000000!important;
    margin-bottom: 0!important;
}

.chi-info-text
{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	margin: 22px 0;
}

.chi-box-2,
.chi-box-3,
.chi-box-1
{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), url("img/chi-box-1.png");
	width: 100%;
	height: 466px;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 15px;
	padding-bottom: 15px;
	background-size: cover;
}

.chi-theme-card:nth-child(odd)
{
	margin-right: 5px;
}


.chi-theme-card:nth-child(even)
{
	margin-left: 5px;

}

.chi-card--borner-none
{
	border: none;
	background-color: transparent;
}

.chi-card--box-1
{
	height: 199px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), url("img/chi-main-video.png") no-repeat center center;
	  background-size: cover;
}

.chi-card-title
{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;

	color: #000000;
}

.chi-card-body
{
	padding: 10px 0;
	background-color: transparent;

}

.chi-card-text
{
	font-size: 16px;
	line-height: 20px;
	color: #626262;
}
.chi-name-title
{
	font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
height: 19px;


.chi-time
{
	font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #979797;
}
}
.chi-name--min-title
{
	font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;

color: #000000;
}
/*
.chi-box-2:hover,
.chi-box-3:hover,
.chi-box-1:hover
{
  transform: scale(1.05);
    transition: all .5s;
    cursor: pointer;
}
*/
.chi-box-2,
.chi-box-3
{
	height: 222px;
	background-repeat: no-repeat;
}

.chi-box-2
{
background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), url("img/chi-box-2.png");
	background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), url("img/chi-box-2.png");
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), url("img/chi-box-2.png");
	  background-size: cover;
}

.chi-box-3
{
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), url("img/chi-box-3.png");
	background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), url("img/chi-box-3.png");
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), url("img/chi-box-3.png");
	background-position: cover;
	margin-top: 21px;

	@media only screen and (max-width: 765px)
	{
		margin-top: 0;
	}

}
.chi-tag
{
	display: inline-block;

	display: flex;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	font-weight: 700;
	padding: 0 10px;
	height: 20px;
	text-align: center;
	background: #E30613;
	justify-content: center;
	align-items: center;
	line-height: 20px;

	margin-right: 15px;

}

.chi-tag_link
{
	color: #FFFFFF;
}

.chi-tag_link:hover
{
	text-decoration: none;
	color: #FFFFFF!important;
}

.chi-category
{
	display: inline-block;

	padding: 0 10px;
	height: 20px;
	left: 468px;
	top: 526px;

	background: #FFFFFF;

	display: flex;
    justify-content: center;
    align-items: center;
}

.chi-category__link
{
	height: 15px;

	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #E30613;
}

.chi-category__link a:hover
{
	text-decoration: none;
	color: #E30613;
}

.chi-title-white
{
	max-width: 504px;
	height: 68px;


	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

	color: #FFFFFF;
}

.chi-time
{
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
}

.chi-time strong
{
	font-size: 14px;
	line-height: 18px;
}

.h-20
{
	height: 20px;
}

.chi-active-link
{
	font-weight: 700;
	color: black;
	cursor: context-menu;
	text-decoration: none;
}

.chi-active-link:hover
{
	color: black;
	text-decoration: none;
}

.chi-sub-title
{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;

	color: #000000;

}

.position-relative
{
	.chi-time
{
		font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #979797;
}

.chi-time strong
{
	font-size: 14px;
	line-height: 18px;
}
}

.chi-media
{
	height: 100px;
	max-width: 472px;
}
.chi-media-img
{
	height: 100%;
	min-width: 177px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), url("img/chi-main-video.png") no-repeat center center;
	  background-size: cover;

	  .chi-tag
	  {
	  	margin-right: 0;
	  	margin-left: 15px;
	  }
	  margin-right: 10px;
}

.chi-othes-articles img
{
	padding-right: 15px;
	width: 275px!important;
	height: 150px!important;
}

.inline-image
{
	width: 100%;
	display: flex;
}
.image-credit-wrapper {
overflow: hidden;
position: relative;
}

.image-credit-wrapper .image-credit {
position: absolute;
left: 0px;
}

.image-credit
{
	background: #FFFFFF;
	color: #ccc;
	display: inline-block;
	font-size: 11px;
	font-weight: 300;
	padding: 5px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.chi-category-credit
{
	background: #FFFFFF;
}

figcaption {
position: relative;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}


.chi-category-credit
{
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;

	color: #E30613;
}

.chi-advertise
{
	border: 1px solid #DADADA;
box-sizing: border-box;
}

.chi-pagination
{
	width: 104px;
	height: 28px;
	margin-bottom: 0;
    margin-top: 13px;
}

.chi-page-item .active
{
	background: #DADADA;
	border-radius: 2px;
}

.chi-page-link
{
	color: #000000;
	width: 20px;
	height: 28px;
	font-size: 20px;
	display: inline-block;
	text-align: center;
}

.chi-page-link .active
{
	background: #DADADA;
	border-radius: 2px;
}

.chi-page-link:hover
{
	background: #DADADA;
	border-radius: 2px;
	text-decoration: none;

}

.chi-pagination::after
{
	content: url("img/arrow-right.svg");
	font-size: 20px;
	margin-left: 13px;
	width: 20px;
    height: 28px;

}

.chi-btn-more-acticle
{
	font-weight: bold;
	font-size: 16px;
	line-height: 39px;
	color: #FFFFFF;


	background: #E30613;
	box-shadow: 0px 10px 20px rgba(227, 6, 19, 0.2);
	border-radius: 6px;

	width: 275px;
	height: 50px;
}

.chi-btn-more-acticle:hover
{
	box-shadow:none;
	color: white;
}


.pre-footer
{
	background: #F5F5F5;
}