<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kongresonline.cz</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<style>
.navbar-collapse {
    justify-content: flex-end;
}
</style>
<body class="chi-category-bg">
<header>
        <div class="navbar navbar-light chi-bg-light chi-navbar-height">
            <div class="chi-logo-sentens">
                Provozováno portálem <a class="navbar-brand chi-logo-text-words" href="index.html" title="Kongresonline.cz"><u>Kongresonline.cz</u></a>
            </div>
            <form class="form-inline  mx-auto">
                <div class="chi-search">
                    <input class="form-control mr-sm-2 w-100" id="chi-search" type="search" placeholder="Vyhledat na celém portále a článcích" aria-label="Search">
                </div>
            </form>
        </div>
</header>
<div class="chi-claim">
    <nav class="navbar navbar-expand-lg navbar-light chi-pb-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item chi-nav-item active">
                        <a class="nav-link chi-nav-link chi-active white-color" href="index.html">KOMENTÁŘE</a>
                    </li>
                    <li class="nav-item chi-nav-item">
                        <a class="nav-link chi-nav-link white-color" href="#">VIDEOKOMENTÁŘE</a>
                    </li>
                    <li class="nav-item chi-nav-item">
                        <a class="nav-link chi-nav-link white-color" href="#">AKREDITOVANÉ TESTY</a>
                    </li>
                    <li class="nav-item chi-nav-item">
                        <a class="nav-link chi-nav-link white-color" href="#">TÉMATA</a>
                    </li>
                </ul>
            </div>
    </nav>
        <div class="chi-category-logo-center">
        <img src="img/dianews-logo-white%202.png" alt="">
    </div>
    <div class="container">
            <div class="chi-info-text white-color">
                <p>
                    Zpravodajství z kongresů a sympozií, rozhovory s uznávanými odborníky, novinky z diabetologie, to vše v atraktivní multimediální podobě.
                </p>
            </div>
            <div class="chi-info-banner">
                <div class="row chi-category-bg chi-pt-15">
                    <div class="col-md-6 overflow-hidden chi-pr-lg-0">
                        <div class="chi-box-1 ">
                            <div class="d-flex flex-row">
                                <div class="chi-tag text-uppercase">
                                    <a href="#" class="chi-tag_link">VIDEO</a>
                                </div>
                                <div class="chi-category text-uppercase">
                                    <a href="#" class="chi-category__link">dianews.cz</a>
                                </div>
                            </div>
                            <h1 class="chi-title-white">VZP rozpustí finanční rezervy, přidat má i ambulantním specialistům!</h1>
                            <time class="chi-time" datetime="2019-09-29 00:00"><strong>Redakce</strong> 29&nbsp;září,&nbsp;2019</time>
                        </div>
                    </div>
                    <div class="col-md-6 overflow-hidden">
                        <div class="row">
                            <div class="col-md-12 overflow-hidden">
                                <div class="chi-box-2">
                                    <div class="d-flex flex-row">
                                        <div class="chi-tag text-uppercase">
                                            <a href="#" class="chi-tag_link">komentář</a>
                                        </div>
                                        <div class="chi-category text-uppercase">
                                            <a href="#" class="chi-category__link">KARDIOROK.CZ</a>
                                        </div>
                                    </div>
                                    <h1 class="chi-title-white">VZP rozpustí finanční rezervy, přidat má i ambulantním specialistům!</h1>
                                    <time class="chi-time" datetime="2019-09-29 00:00"><strong>Redakce</strong> 29&nbsp;září,&nbsp;2019</time>
                                </div>
                            </div>
                            <div class="col-md-12 overflow-hidden">
                                <div class="chi-box-3">
                                    <div class="d-flex flex-row">
                                        <div class="chi-tag text-uppercase">
                                            <a href="#" class="chi-tag_link">VIDEO</a>
                                        </div>
                                        <div class="chi-category text-uppercase">
                                            <a href="#" class="chi-category__link">dianews.cz</a>
                                        </div>
                                    </div>
                                    <h1 class="chi-title-white">VZP rozpustí finanční rezervy, přidat má i ambulantním specialistům!</h1>
                                    <time class="chi-time" datetime="2019-09-29 00:00"><strong>Redakce</strong> 29&nbsp;září,&nbsp;2019</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <main class="chi-position-botom chi-category-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-9 chi-video-section mt-5">
                    <div class="d-flex h-20">
                        <div class="chi-tag text-uppercase mr-auto p-2">
                            <a href="#" class="chi-tag_link">VIDEO</a>
                        </div>
                        <div class="">
                            <ul class="list-inline m-0">
                                <li class="list-inline-item"><a href="#">Videa ze speciálů</a></li>
                                <li class="list-inline-item "><a href="#" class="chi-active-link">všechna videa</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr class="divider mt-0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card chi-card--borner-none chi-card">
                                <div class="chi-box-1 chi-card--box-1">
                                    <div class="d-flex flex-row">
                                        <div class="chi-tag text-uppercase">
                                            <a href="#" class="chi-tag_link">2:23</a>
                                        </div>
                                        <div class="chi-category text-uppercase">
                                            <a href="#" class="chi-category__link">dianews.cz</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body chi-card-body">
                                    <h5 class="card-title chi-card-title">Pozor na méně obvyklé příčiny komplikací diabetu</h5>
                                    <strong class="chi-name-title">prof. MUDr. Štěpán Svačina, DrSc., MBA <time class="chi-time" datetime="2019-09-29 00:00">-29&nbsp;září,&nbsp;2019</time></strong>
                                    <p class="chi-card-text">Diabetes je chronické onemocnění, které je zatíženo celou řadou kardiovaskulárních i jiných komplikací. Nemocné velmi často trápí mnoho komorbidit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <div class="media chi-media position-relative">
                                    <div class="d-flex flex-row align-items-end chi-media-img justify-content-between">
                                        <div class="chi-category text-uppercase">
                                            <a href="#" class="chi-category__link">dianews.cz</a>
                                        </div>
                                        <div class="chi-tag text-uppercase">
                                            <a href="#" class="chi-tag_link">2:23</a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 chi-sub-title">Pozor na méně obvyklé příčiny komplikací diabetu</h5>
                                        <time class="chi-time" datetime="2019-09-29 00:00">29&nbsp;září,&nbsp;2019</time>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="media chi-media position-relative">
                                    <div class="d-flex flex-row align-items-end chi-media-img justify-content-between">
                                        <div class="chi-category text-uppercase">
                                            <a href="#" class="chi-category__link">dianews.cz</a>
                                        </div>
                                        <div class="chi-tag text-uppercase">
                                            <a href="#" class="chi-tag_link">2:23</a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 chi-sub-title">Pozor na méně obvyklé příčiny komplikací diabetu</h5>
                                        <time class="chi-time" datetime="2019-09-29 00:00">29&nbsp;září,&nbsp;2019</time>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="media chi-media position-relative">
                                    <div class="d-flex flex-row align-items-end chi-media-img justify-content-between">
                                        <div class="chi-category text-uppercase">
                                            <a href="#" class="chi-category__link">dianews.cz</a>
                                        </div>
                                        <div class="chi-tag text-uppercase">
                                            <a href="#" class="chi-tag_link">2:23</a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 chi-sub-title">Pozor na méně obvyklé příčiny komplikací diabetu</h5>
                                        <time class="chi-time" datetime="2019-09-29 00:00">29&nbsp;září,&nbsp;2019</time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex h-20 mt-5">
                        <div class="chi-tag text-uppercase mr-auto p-2">
                            <a href="#" class="chi-tag_link">REKLAMNÍ SDĚLENÍ</a>
                        </div>
                        <div class="">
                            <ul class="list-inline m-0">
                                <li class="list-inline-item"><a href="#">Články ze speciálů</a></li>
                                <li class="list-inline-item "><a href="#" class="chi-active-link">Všechny články</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr class="divider mt-0">
                    <div class="chi-advertise">
                        <img src="img/image%201.png" alt="">
                    </div>
                    <div class="others-articles">
                        <div class="d-flex h-20 mt-5">
                            <div class="chi-tag text-uppercase mr-auto p-2">
                                <a href="#" class="chi-tag_link">čtěte také</a>
                            </div>
                        </div>
                        <hr class="divider mt-0">
                        <ul class="list-unstyled">
                            <li class="media">
                                <div class="image-credit-wrapper chi-othes-articles">
                                    <span class="image-credit chi-category-credit">
                <a href="img/media-obj.png" class="chi-category__link">UROLOGUM.CZ</a>
            </span>
                                    <img src="img/media-obj.png">
                                </div>
                                <div class="media-body ">
                                    <h5 class="mt-0 mb-1 card-title chi-card-title">Máte pacienty s fibrilací síní a akutním koronárním syndromem nebo PCI?</h5>
                                    <strong class="chi-name-title">prof. MUDr. Štěpán Svačina, DrSc., MBA <time class="chi-time" datetime="2019-09-29 00:00">-29&nbsp;září,&nbsp;2019</time></strong>
                                    <p class="chi-card-text">
                                        Diabetes je chronické onemocnění, které je zatíženo celou řadou kardiovaskulárních i jiných komplikací. Nemocné velmi často trápí mnoho komorbidit
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="image-credit-wrapper chi-othes-articles">
                                    <span class="image-credit chi-category-credit">
                <a href="img/media-obj.png" class="chi-category__link">UROLOGUM.CZ</a>
            </span>
                                    <img src="img/media-obj-2.png">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 card-title chi-card-title">Máte pacienty s fibrilací síní a akutním koronárním syndromem nebo PCI?</h5>
                                    <strong class="chi-name-title">prof. MUDr. Štěpán Svačina, DrSc., MBA <time class="chi-time" datetime="2019-09-29 00:00">-29&nbsp;září,&nbsp;2019</time></strong>
                                    <p class="chi-card-text">
                                        Diabetes je chronické onemocnění, které je zatíženo celou řadou kardiovaskulárních i jiných komplikací. Nemocné velmi často trápí mnoho komorbidit
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="image-credit-wrapper chi-othes-articles">
                                    <span class="image-credit chi-category-credit">
                <a href="img/media-obj.png" class="chi-category__link">UROLOGUM.CZ</a>
            </span>
                                    <img src="img/media-obj-3.png">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 card-title chi-card-title">Máte pacienty s fibrilací síní a akutním koronárním syndromem nebo PCI?</h5>
                                    <strong class="chi-name-title">prof. MUDr. Štěpán Svačina, DrSc., MBA <time class="chi-time" datetime="2019-09-29 00:00">-29&nbsp;září,&nbsp;2019</time></strong>
                                    <p class="chi-card-text">
                                        Diabetes je chronické onemocnění, které je zatíženo celou řadou kardiovaskulárních i jiných komplikací. Nemocné velmi často trápí mnoho komorbidit
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="image-credit-wrapper chi-othes-articles">
                                    <span class="image-credit chi-category-credit">
                <a href="img/media-obj.png" class="chi-category__link">UROLOGUM.CZ</a>
            </span>
                                    <img src="img/media-obj-4.png">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 card-title chi-card-title">Máte pacienty s fibrilací síní a akutním koronárním syndromem nebo PCI?</h5>
                                    <strong class="chi-name-title">prof. MUDr. Štěpán Svačina, DrSc., MBA <time class="chi-time" datetime="2019-09-29 00:00">-29&nbsp;září,&nbsp;2019</time></strong>
                                    <p class="chi-card-text">
                                        Diabetes je chronické onemocnění, které je zatíženo celou řadou kardiovaskulárních i jiných komplikací. Nemocné velmi často trápí mnoho komorbidit
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="image-credit-wrapper chi-othes-articles">
                                    <span class="image-credit chi-category-credit">
                <a href="img/media-obj.png" class="chi-category__link">UROLOGUM.CZ</a>
            </span>
                                    <img src="img/media-obj-2.png">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 card-title chi-card-title">Máte pacienty s fibrilací síní a akutním koronárním syndromem nebo PCI?</h5>
                                    <strong class="chi-name-title">prof. MUDr. Štěpán Svačina, DrSc., MBA <time class="chi-time" datetime="2019-09-29 00:00">-29&nbsp;září,&nbsp;2019</time></strong>
                                    <p class="chi-card-text">
                                        Diabetes je chronické onemocnění, které je zatíženo celou řadou kardiovaskulárních i jiných komplikací. Nemocné velmi často trápí mnoho komorbidit
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div class="row mt-5 mx-auto">
                            <a class="btn chi-btn-more-acticle mx-auto" href="#" role="button">10 dalších článků&hellip;</a>
                            <nav aria-label="img/800x400.png" class="img/800x400.png">
                                <ul class="pagination chi-pagination">
                                    <li class="page-item chi-page-item "><a class="chi-page-link active" href="#">1</a></li>
                                    <li class="page-item chi-page-item ">
                                        <a class="chi-page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item chi-page-item"><a class="chi-page-link" href="#">3</a></li>
                                    <li class="page-item chi-page-item">
                                        <a class="chi-page-link chi-page-link-last" href="#">&hellip;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 mt-5">
                    <div class="advertisment-col">
                        <div class="d-flex h-20">
                            <div class="chi-tag text-uppercase mr-auto p-2">
                                <a href="#" class="chi-tag_link">REKLAMNÍ SDĚLENÍ</a>
                            </div>
                        </div>
                        <hr class="divider mt-0">
                        <div class="text-center">
                            <a href="http://rozesilky.kongresonline.cz/Dianews/email30/img/toujeo-zip.pdf" target="_blank"><img src="img/banner.png" alt=""></a>
                        </div>
                    </div>
                    <div class="chi-category-thems mt-5">
                        <div class="d-flex h-20">
                            <div class="chi-tag text-uppercase mr-auto p-2">
                                <a href="#" class="chi-tag_link">témata</a>
                            </div>
                        </div>
                        <hr class="divider mt-0">
                        <div class="chi-theme-box">
                            <figure class="inline-image chi-cards">
                                <div class="chi-theme-card">
                                    <div class="image-credit-wrapper">
                                        <span class="image-credit chi-category-credit">
                <a href="#" class="chi-category__link">UROLOGUM.CZ</a>
            </span>
                                        <img src="img/theme-1.png">
                                    </div>
                                    <div class="card-body chi-card-body">
                                        <div class="chi-name--min-title">Pozor na méně obvyklé příčiny komplikací diabetu</div>
                                        <strong class="chi-name-title "><time class="chi-time" datetime="2019-09-29 00:00">29&nbsp;září,&nbsp;2019</time></strong>

                                    </div>
                                </div>
                                <div class="chi-theme-card">
                                    <div class="image-credit-wrapper">
                                        <span class="image-credit chi-category-credit">
                <a href="#" class="chi-category__link">KARDIOROK.CZ</a>
            </span>
                                        <img src="img/theme-2.png">
                                    </div>
                                    <div class="card-body chi-card-body">
                                        <div class=" chi-name--min-title">Pozor na méně obvyklé příčiny komplikací diabetu</div>
                                        <strong class="chi-name-title"><time class="chi-time" datetime="2019-09-29 00:00">29&nbsp;září,&nbsp;2019</time></strong>
                                    </div>
                                </div>
                            </figure>
                            <figure class="inline-image chi-cards">
                                <div class="chi-theme-card">
                                    <div class="image-credit-wrapper">
                                        <span class="image-credit chi-category-credit">
                <a href="#" class="chi-category__link">dianews.cz</a>
            </span>
                                        <img src="img/theme-3.png">
                                    </div>
                                    <div class="card-body chi-card-body">
                                        <div class="chi-name--min-title">Pozor na méně obvyklé příčiny komplikací diabetu</div>
                                        <strong class="chi-name-title "><time class="chi-time" datetime="2019-09-29 00:00">29&nbsp;září,&nbsp;2019</time></strong>

                                    </div>
                                </div>
                                <div class="chi-theme-card">
                                    <div class="image-credit-wrapper">
                                        <span class="image-credit chi-category-credit">
                <a href="#" class="chi-category__link">UROLOGUM.CZ</a>
            </span>
                                        <img src="img/theme-4.png">
                                    </div>
                                    <div class="card-body chi-card-body">
                                        <div class=" chi-name--min-title">Pozor na méně obvyklé příčiny komplikací diabetu</div>
                                        <strong class="chi-name-title"><time class="chi-time" datetime="2019-09-29 00:00">29&nbsp;září,&nbsp;2019</time></strong>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="d-flex h-20">
                        <div class="chi-tag text-uppercase mr-auto p-2">
                            <a href="#" class="chi-tag_link">témata</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="chi-category-bg">
        <div class="container">
        <div class="container chi-hr"></div>
        <div class="chi-footer-webpage-info">
            <p>© 2019 CZECH HEALTH INTERACTIVE</p>
            <p><a href="#">Podmínky užití</a> | <a href="#">Sponzoři</a></p>
        </div>
        </div>
    </footer>
    <!-- JQuery Library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- Bootstrap Propper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
